<ActionBar title="Ably">
    <NavigationButton text="Go Back" icon="res://menu" (tap)="changeDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer #drawer>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label *ngFor="let r of routes" (tap)="changeDrawer()" [nsRouterLink]="[r.path]" [text]="extractTextLabelFromRouteData(r)" class="sideLabel sideLightGrayLabel"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent orientation="horizontal">
        <Label class="icon" text="{{icon}}"></Label>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>