<ActionBar title="Ably">
    <NavigationButton text="Go Back" icon="res://menu" (tap)="openDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer #drawer>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label [nsRouterLink]="['/messages']" text="Message Example" class="sideLabel sideLightGrayLabel"></Label>
            <Label [nsRouterLink]="['/test']" text="Test" class="sideLabel"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent orientation="horizontal">
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>